table#abajo { border-collapse: collapse; border-spacing: 0; }
/* remember to define focus styles. Hee Haw */
:focus { outline: 0; }
/*body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #303030;
  background-color: #f6f6f6;
  }
a {
  color: #404040;
  font-weight: bold;
  text-decoration: none;
  }*/
h1 {
  font-size: 13px;
  margin: 0 0 20px;
  display: block;
  text-shadow: 0 1px 0 #fff;
  }
h1 span.description {
  color: #6d6d6d;
  }
table#abajo {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #303030;
  background: #fff;
  max-width: 100%;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.10);
  box-shadow: 0 0 4px rgba(0,0,0,0.10);
  }
  table#abajo th,
  table#abajo td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    border-top: 1px solid #ddd;
    }
  table#abajo th {
    font-weight: bold;
    vertical-align: bottom;
    }
  table#abajo td {
    vertical-align: top;
    }
  table#abajo thead:first-child tr th,
  table#abajo thead:first-child tr td {
    border-top: 0;
    }
  table#abajo tbody + tbody {
    border-top: 2px solid #ddd;
    }
  table#abajo th + th,
  table#abajo td + td,
  table#abajo th + td,
  table#abajo td + th {
    border-left: 1px solid #ddd;
    }
  table#abajo thead:first-child tr:first-child th,
  table#abajo tbody:first-child tr:first-child th,
  table#abajo tbody:first-child tr:first-child td {
    border-top: 0;
    }

/*tablesort specific styling*/
th.sort-header {
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eee));
  background: -moz-linear-gradient(top, #f6f6f6, #eee);
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background: transparent;
  }
table#abajo th.sort-header:after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  }
table#abajo th.sort-header:hover:after {
  visibility: visible;
  }
table#abajo th.sort-up:after,
table#abajo th.sort-down:after,
table#abajo th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
  }
table#abajo th.sort-down:after {
  border-bottom: none;
  border-width: 4px 4px 0;
  }

.inner {
  width: 960px;
  margin: 100px auto 0;
  }
  span.download {
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 12px;
    }
    span.download a {
      color: #f26a4b;
      }
