h3 {
	/*font: 14px/16px Arial, Helvetica, Tahoma, Verdana, Sans-serif;*/
	font-size: 24px !important;
	font-family: "Ostrich Sans Pro Regular", "Arial Narrow", Sans-Serif !important;
	line-height: 28px !important;
	text-align: left;
	text-transform: uppercase;
	margin: 5px !important;
	padding: 0;
}
p {
	color: #4e4e4e;
	font: 11px/14px Arial, Helvetica, Tahoma, Verdana, Sans-serif;
	text-align: left;
	margin: 0 0 5px;
}

#cont_gral {
	text-align: left;
	width: 950px;
	margin: 0;
	padding: 0;
}

#todo_prog {
	color: #4e4e4e;
	font: 11px/14px Arial, Helvetica, Tahoma, Verdana, Sans-serif;
	text-align: left;
	background-color: #fff;
	margin: 0;
	padding: 10px 0 0 9px;
}
/* @group COLUMNA IZQUIERDA */

.col_izq {
	text-align: left;
	width: 123px;
	margin: 0 9px 0 0;
	padding: 0;
	float: left;
}

.fecha {
	color: #fff;
	font: 42px/42px Arial, Helvetica, Tahoma, Verdana, Sans-serif;
	text-align: left;
	background: #000;
	width: 110px;
	_width: 123px;
	height: 48px;
	_height: 55px;
	margin: 0 0 18px;
	padding-top: 7px;
	padding-left: 13px;
}

.mes {
	color: #fcff00;
	font: 23px/23px Arial, Helvetica, Tahoma, Verdana, Sans-serif;
	text-align: left;
	text-transform: uppercase;
}

/* @end */

/* @group Horario */

.menu_horario {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu_horario li {
	text-align: left;
	margin: 0;
	background-color: #000;
}

.menu_horario a.manana,
.menu_horario a.tarde,
.menu_horario a.noche,
.menu_horario a.trasnoche {
	font-family: "Din Web Condensed", "Arial Narrow", Sans-Serif;
	text-rendering: optimizeLegibility; /* FF, Safari & Chrome only. */
	text-transform: uppercase;
	font-size: 16px;
	color:#fff;
	width: 73px;
	_width: 123px;
	height: 30px;
	_height: 45px;
	margin: 0;
	display: block;
	background: url(../imgs/comunes/franjas.png) no-repeat 0 0;
	padding-left: 50px;
	padding-top: 15px;
	text-decoration: none;
}


.menu_horario a.tarde{
	background-position: 0 -45px;
}

.menu_horario a.noche{
	background-position: 0 -90px;
}
.menu_horario a.trasnoche{
	background-position: 0 -135px;
}

.menu_horario a.manana:hover,
.menu_horario a.tarde:hover,
.menu_horario a.noche:hover,
.menu_horario a.trasnoche:hover{
	color: #fcff00;
}

.menu_horario a.selected {
	color: #fcff00;
}
/* @end */

/* @group Días */

.cont_menu_dia {
	text-align: left;
	width: 945px;
	height: 55px;
	margin: 0 0 18px;
}

.menu_dia,
.submenu_dia {
	margin: 0 !important;
	padding: 0;
	list-style-type: none;
}

.menu_dia li {
	text-align: left;
	margin: 0;
	float: left;
	background-color: #fcff00;
	width: 135px;
	height: 45px;
}

.submenu_dia li{
	text-align: left;
	margin: 0;
	float: left;
	width: 135px;
	height: 25px;
}

.submenu_dia p{
	font-family: "Din Web Condensed", "Arial Narrow", Sans-Serif;
	text-rendering: optimizeLegibility; /* FF, Safari & Chrome only. */
	text-transform: uppercase;
	background-color: #535353;
	font-size: 18px;
	letter-spacing: -1px;
	color:#fff;
	width: 135px;
	height: 18px;
	_height: 25px;
	padding-top: 7px;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
}
.menu_dia a.lunes,
.menu_dia a.martes,
.menu_dia a.miercoles,
.menu_dia a.jueves,
.menu_dia a.viernes,
.menu_dia a.sabado,
.menu_dia a.domingo {
	font-family: "Din Web Condensed", "Arial Narrow", Sans-Serif;
	text-rendering: optimizeLegibility; /* FF, Safari & Chrome only. */
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: -1px;
	color:#000;
	width: 135px;
	margin-top:18px;
	padding: 0;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
}

.menu_dia a.lunes:hover,
.menu_dia a.martes:hover,
.menu_dia a.miercoles:hover,
.menu_dia a.jueves:hover,
.menu_dia a.viernes:hover,
.menu_dia a.sabado:hover,
.menu_dia a.domingo:hover {
	color:#535353;
}
.menu_dia a.selected {
	background-color: #000000;
	color:#fcff00;
	height: 27px;
	_height: 45px;
	margin-top: 0;
	padding-top:18px;
}
/* @end */

/* @group COLUMNA DERECHA */

.col_der {
	text-align: left;
	width: 796px;
	margin: 0;
	padding: 0;
	float: left;
}

.modulo_prog {
	text-align: left;
	background-color: #f2f2f2;
	width: 950px;
	margin: 0 0 4px;
}

.morning {
	width: 781px;
	height: 65px;
	border-left: 8px solid #d95b00;
}

.morning .programa h3 {
	color: #d95b00 !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.morning .programa h3 a{
	color: #d95b00 !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.morning .programa h3 a:hover {
	text-decoration:underline;
}


.afternoon {
	width: 781px;
	height: 65px;
	border-left: 8px solid #bd7a23;
}

.afternoon .programa h3 {
	color: #bd7a23 !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.afternoon .programa h3 a {
	color: #bd7a23 !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.afternoon .programa h3 a:hover {
	text-decoration:underline;
}

.evening {
	width: 781px;
	height: 65px;
	border-left: 8px solid #a11e17;
	text-decoration:none;
}

.evening .programa h3 {
	color: #a11e17 !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.evening .programa h3 a {
	color: #a11e17 !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.evening .programa h3 a:hover {
	text-decoration:underline;
}
.night {
	width: 781px;
	height: 65px;
	border-left: 8px solid #3a456b;
}

.night .programa h3 {
	color: #3a456b !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.night .programa h3 a{
	color: #3a456b !important;
	margin: 3px 10px 0 0 !important;
	text-decoration:none;
}
.night .programa h3 a:hover {
	text-decoration:underline;
}

.hora {
	color: #cfcfd0;
	font: bold 32px/28px "Din Web Condensed", Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	text-rendering: optimizeLegibility; /* FF, Safari & Chrome only. */
	text-transform: uppercase;
	text-align: center;
	width: 128px;
	padding-top: 20px;
	float: left;
}

.hora span.ampm {
	font: bold 15px/15px Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	text-transform: uppercase;
}

.programa {
	width: 570px;
	height: 65px;
	margin: 0;
	padding: 0;
	float: right;
	overflow: hidden;
}

.programa p {
	color: #4e4e4e;
	font: 11px/13px Arial, Helvetica, Tahoma, Verdana, Sans-serif !important;
	text-align: left;
	margin: 0 !important;
	max-width: 550px;
}

.programa_img {
	margin: 0 14px 0 0;
	width: 233px;
	height: 65px;
	float: left; 
}

/* @end */

/* @group LOGOS PIE */

.logos_pie {
	text-align: left;
	background: url(../imgs/comunes/logos.gif) no-repeat;
	width: 928px;
	height: 83px;
	margin: 20px 0 0;
	padding: 0;
	border-top: 1px solid #dedede;
}

/* @end */