body{
	background-color:#f9f9f9;
	
	font-size: 11px;
	font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
	
	text-align:center;
	margin:auto;
	
}

img{
border-style:none;
height:18px;
}

p{
font-size: 12px;
font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
color:#3e3e3e;
}

h1
{
font-size: 18px;
font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
color:#ae0001;
}

h2{
font-size: 12px;
font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
color:#ae0001;
}


.container{
width:960px;
position:relative;
margin:auto;
}

.box1{
width:300px;
height:30px;
position:absolute;
top:5px;
left:5px;

}

.box10{
width:300px;
height:30px;
position:absolute;
top:100px;
text-align:left;
left:10px;

}

.box11{
width:300px;
height:70px;
position:absolute;
top:100px;
text-align:left;
left:615px;
background-color: #e3e3e3;
}


.box2{
width:300px;
height:70px;
position:absolute;
top:40px;
left:5px;

}

.box3{
width:300px;
height:100px;
position:absolute;
top:5px;
left:310px;

}


.box4{
width:300px;
height:120px;
position:absolute;
top:5px;
left:615px;
background-color: #e3e3e3;
text-align:center;

}


.box5{
width:300px;
height:500px;
position:absolute;
top:165px;
left:5px;
font-size: 12px;
font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
color:#3e3e3e;
overflow-y:auto;

}

.box6{
width:300px;
height:500px;
position:absolute;
top:165px;
left:310px;
font-size: 12px;
font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
color:#3e3e3e;
overflow-y:auto;
}


.box7{
width:300px;
height:500px;
position:absolute;
top:165px;
left:615px;
background-color: #e3e3e3;
overflow-y:auto;


}

.box_download{
margin:5px;
width:270px;
height:32px;
position:relative;
}



.box_download .logo1{
position:absolute;
top:8px;
left:2px;
}

.box_download .logo2{
position:absolute;
top:8px;
left:22px;
}

.box_download .texto{
position:absolute;
top:7px;
left:45px;
border-bottom:1px dotted grey;
height:30px;
width:215px;
}


.box_download .texto2{
position:absolute;
top:7px;
left:45px;

height:30px;
width:215px;
}

.container_2{
width:561px;
height:325px;

padding-top:20px;

background-color: #e3e3e3;
font-size: 14px;
font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
color:#ae0001;
text-align:center;
margin:auto;

}



.login_submit{
background: url(../img/entrar.png) 0 0 no-repeat;
width:95px;
height:29px;
border:none;
cursor:pointer;
margin-left:100px;
margin-bottom:10px;

}

.caja1{
margin-top:10px;
}

.caja2{
margin-top:10px;
margin-bottom:10px;
}

.texto1{

}

.text_login{
width:195px;
height:29px;
border:1px solid #d3d3d3;
background-color: #d9d9d9;
padding-left:4px;
font-family: Arial, Verdana,"Bitstream Vera Sans",sans-serif;
color:#ae0001;
}

.caja3{

}

.logout{
width:40px;
height:20px;
position:absolute;
top:680px;
right:40px;
cursor:pointer;

}


